
<h2> Total All Statuses by last 7 days </h2>
<div *ngIf="!chartReady" class="loader"></div>
<div class="flex" *ngIf="chartReady">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
    </canvas>
      </div>
    </div>
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData; let i=index"  [ngStyle]="{'background-color':getRowColor(i)}">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j] | nullablenumber}}</td>
        </tr>
      </table>
    </div>
  </div>
