

   <!-- <h3>State’s dataset was last updated {{lastUpdateEt}} </h3> -->
    <div class="container">
       
        <h2>  {{translations.DateByText}}</h2>
        <div class="filter-block">
            <!-- <a href="#MO">MO</a> -->
            <a [routerLink]="['./']" fragment="MO" data-index="1" (click)="aaa('MO')" >MO</a>&nbsp;
            <a [routerLink]="['./']" fragment="TX">TX</a>&nbsp;
            <a [routerLink]="['./']" fragment="VT">VT</a>&nbsp;
            <mat-form-field appearance="fill" class='cbo-filter'>
                <mat-label>{{translations.Choose}}</mat-label>
                <mat-select (selectionChange)="onStateChange($event)">
                    <mat-option *ngFor="let item of statesLst" [value]="item.state">
                    {{item.name}} ({{item.state}})
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div *ngIf="statesLstFiltered && statesLstFiltered.length > 0" class="cards-container">
            <ng-container   *ngFor="let item of statesLstFiltered; let i=index;">
                <!-- <div id="{{item.state}}"></div> -->
                <mat-card #cardItem id="{{item.state}}" class=" item-container active" [class.active]="expandedElement === item" #containerItem  (click)="expandedElement = expandedElement === item ? null : item;onExpanded(item, i)">
                    <mat-card-header>
                        <mat-card-title>{{item.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content >
                        <div class="content-row"> <span class="name">{{translations.TotalCases}}:</span> <span class="value">{{item.total  | nullablenumber}}</span></div>
                        <div class="content-row"><span class="name">{{translations.NewCases}}:</span>:  <span class="value">{{item.positiveIncrease | nullablenumber}}</span></div>
                        <div class="content-row"><span class="name">{{translations.Nowhospitalized}}:</span>:  <span class="value">{{item.hospitalizedCurrently | nullablenumber}}</span></div>
                       <div *ngIf="expandedElement === item" class="item-arrow-top"></div>
                       <div *ngIf="expandedElement === item" class="item-arrow-bottom"></div>
                       <div> i = {{i}}</div>
                        <!-- <div> expandedElement === item = {{expandedElement === item}}</div>
                        <div> i = {{i}}</div>
                       <div> i % cardsInRow = {{(i+1) % cardsInRow}}</div>
                       <div> i / cardsInRow = {{(i+1) / cardsInRow}}</div> -->
                    </mat-card-content>
                </mat-card>
                <div style="display:none"  class="item-container-details" *ngIf="(i+1) % cardsInRow == 0" id="card-details-{{(i+1) / cardsInRow}}">
                <!-- <mat-card class="item-container-details" *ngIf="(i+1) % cardsInRow == 0"> -->
                <mat-card>
                    <!-- i = {{i}} <br>
                    <div> i % cardsInRow = {{(i+1) % cardsInRow}}</div>
                    <div> i / cardsInRow = {{(i+1) / cardsInRow}}</div> -->
                    <app-state-details [stateInfo]="expandedElement"></app-state-details>
                </mat-card>
                </div>
                <!-- <div class="example-element-detail"  *ngIf="(i+1) % cardsInRow == 0"
                [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">
                <app-state-details [stateInfo]="item"></app-state-details>
                </div> -->
            </ng-container>


        </div>
    
    </div>
    

