<div class="top">
    <div class="logo"><img src="assets/images/Carebox-Logo-full.png"></div>
    <h1>The COVID Tracking Page</h1>
</div>


<div id="top" class="container">
    <mat-tab-group animationDuration="0ms" (selectedIndexChange)="selectedIndexChange($event)">
        <mat-tab label="The Data">
            <app-summary></app-summary>
            <app-state-cards></app-state-cards>
        </mat-tab>
        <mat-tab label="Charts" >
            <div >
                <mat-tab-group animationDuration="0ms" (selectedIndexChange)="selectedIndexInnerChange($event)">
                    <mat-tab label="USA">
                        <app-summary-chart-line [summaryChartList]="summaryChartList"></app-summary-chart-line>
                    </mat-tab>
                    <mat-tab label="The World">
                        <app-total-world-char [totalWorldCharData]="totalWorldCharData"></app-total-world-char>
                    </mat-tab>                    
                </mat-tab-group>
                
            </div>
        </mat-tab>        
        <!-- <mat-tab label="Third">
            <div  class="_80de4 _8be39" id="chart-mobile-2KiG6zDcE4UCzRlbPeiMvL">
               
                <app-chart-test></app-chart-test>
            </div>
        </mat-tab> -->

      </mat-tab-group>
</div>

