
<div class="tbl-container"  *ngIf="stateInfo" >

    <div class="state-name"> <a  href="{{currentDataLink}}" target="_blank" >{{stateInfo.name}}</a></div>
    <table mat-table  [dataSource]="dataSource">   class="mat-elevation-z8">
        <ng-container matColumnDef="positive">
            <th [ngStyle]="{'display': 'none'}"  mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> </th>
            <td mat-cell *matCellDef="let element"> {{element.positive | nullablenumber}} </td>
        </ng-container> 

        <ng-container matColumnDef="negative">
            <th mat-header-cell *matHeaderCellDef> {{translations.Negative}} </th>
            <td mat-cell *matCellDef="let element"> {{element.negative | nullablenumber}} </td>
         </ng-container>
        <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef>{{translations.Pending}}</th>
            <td mat-cell *matCellDef="let element"> {{element.pending | nullablenumber}} </td>
         </ng-container> 

        <ng-container matColumnDef="hospitalizedCurrently">
            <th mat-header-cell *matHeaderCellDef> {{translations.Currently}} </th>
            <td mat-cell *matCellDef="let element"> {{element.hospitalizedCurrently | nullablenumber}} </td>
         </ng-container>
        <ng-container matColumnDef="hospitalizedCumulative">
            <th mat-header-cell *matHeaderCellDef>{{translations.Cumulative}}</th>
            <td mat-cell *matCellDef="let element"> {{element.hospitalizedCumulative | nullablenumber}} </td>
         </ng-container>          

        <ng-container matColumnDef="inIcuCurrently">
            <th mat-header-cell *matHeaderCellDef> {{translations.Currently}} </th>
            <td mat-cell *matCellDef="let element"> {{element.inIcuCurrently | nullablenumber}} </td>
         </ng-container>
        <ng-container matColumnDef="inIcuCumulative">
            <th mat-header-cell *matHeaderCellDef>{{translations.Cumulative}}</th>
            <td mat-cell *matCellDef="let element"> {{element.inIcuCumulative | nullablenumber}} </td>
         </ng-container> 

        <ng-container matColumnDef="onVentilatorCurrently">
            <th mat-header-cell *matHeaderCellDef> {{translations.Currently}} </th>
            <td mat-cell *matCellDef="let element"> {{element.onVentilatorCurrently | nullablenumber}} </td>
         </ng-container>
        <ng-container matColumnDef="onVentilatorCumulative">
            <th mat-header-cell *matHeaderCellDef>{{translations.Cumulative}}</th>
            <td mat-cell *matCellDef="let element"> {{element.onVentilatorCumulative | nullablenumber}} </td>
         </ng-container> 

        <ng-container matColumnDef="recovered">
            <th mat-header-cell *matHeaderCellDef> {{translations.Recovered}} </th>
            <td mat-cell *matCellDef="let element"> {{element.recovered | nullablenumber}} </td>
         </ng-container>
        <ng-container matColumnDef="death">
            <th mat-header-cell *matHeaderCellDef>{{translations.Death}}</th>
            <td mat-cell *matCellDef="let element"> {{element.death | nullablenumber}} </td>
         </ng-container> 

         <ng-container matColumnDef="states">
            <th mat-header-cell *matHeaderCellDef>{{translations.PositiveNegative}}</th>
            <td mat-cell *matCellDef="let element"> {{ (element.positive + element.negative)  | nullablenumber }} </td>
         </ng-container>          


        <ng-container matColumnDef="header-row-first-group">
            <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.rowspan]="2">
                {{translations.Cases}}
            </th>  
        </ng-container>   
        <ng-container matColumnDef="header-row-sec-group">
            <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.colspan]="2">
                {{translations.Tests}}
            </th>
         </ng-container> 
        <ng-container matColumnDef="header-row-3-group">
            <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.colspan]="2">
                {{translations.Hospitalized}}
            </th>
         </ng-container> 
        <ng-container matColumnDef="header-row-4-group">
            <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.colspan]="2">
                {{translations.InCPU}}
            </th>
         </ng-container> 
       <ng-container matColumnDef="header-row-5-group">
            <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.colspan]="2">
                {{translations.OnVentilator}}
            </th>
         </ng-container>          
       <ng-container matColumnDef="header-row-6-group">
            <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.colspan]="2">
                {{translations.Outcomes}}
            </th>
         </ng-container>           
         <ng-container matColumnDef="header-row-7-group">
            <th mat-header-cell *matHeaderCellDef class="header-row-1">
                {{translations.TotalTestResults}}
            </th>                          
        </ng-container>        
        <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-sec-group', 'header-row-3-group', 'header-row-4-group', 'header-row-5-group', 'header-row-6-group', 'header-row-7-group']"> </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      

    </table>

    <div class="bottom-block">
        <div class="last-update">State’s last reported updated time {{stateInfo.lastUpdateEt}} am ET</div>
        <div class="links-block"> 
            <a *ngIf="twitterLink" href="{{twitterLink}}" target="_blank" >Official Twitter</a>
            <a  href="{{stateInfo.covid19Site}}" target="_blank" >Best Current Data Source</a>
            <a  href="{{stateInfo.covid19SiteSecondary}}" target="_blank" >Secondary Data Source</a>
            <a  href="{{historicalDataLink}}" target="_blank" >Historical data</a>
        </div>
        <div class = "notes-back-block">
            <div class="show-notes" (click) = "showNotes = !showNotes" >
                <span *ngIf="!showNotes">See notes</span>
                <span *ngIf="showNotes">Hide notes</span>
            </div>
            <div class="black-block-on-top"> 
                <a href="javascript:void(0)" (click)="backToTop()">Back to top</a>.
            </div>
        </div>
        <div class="example-element-detail1"
            [@notesExpand]="showNotes ? 'expanded' : 'collapsed'">
            <article [innerHTML]="stateInfo.notes | notesstyle"></article>
        </div>

        <div *ngIf="showNotes" class="back-block"> 
            <a href="javascript:void(0)" (click)="backToTop()">Back to top</a>.
        </div>
        <h2>&nbsp; </h2>
    </div>  
</div>
