<div class="container">
    <h2> {{translations.DateForText}} <span class="header-row">{{summary?.lastModified | date: 'dd/MM/yyyy'}}</span></h2>
    <div class="tbl-container"  *ngIf="summary" >
        <div class="amtable" >
            <table mat-table  [dataSource]="dataSource">   class="mat-elevation-z8">
                
                <ng-container matColumnDef="positive">
                    <th [ngStyle]="{'display': 'none'}"  mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> </th>
                    <td mat-cell *matCellDef="let element"> {{element.positive | nullablenumber}} </td>
                </ng-container> 

                <ng-container matColumnDef="negative">
                    <th mat-header-cell *matHeaderCellDef> {{translations.Negative}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.negative | nullablenumber}} </td>
                 </ng-container>
                <ng-container matColumnDef="pending">
                    <th mat-header-cell *matHeaderCellDef>{{translations.Pending}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.pending | nullablenumber}} </td>
                 </ng-container> 

                <ng-container matColumnDef="hospitalizedCurrently">
                    <th mat-header-cell *matHeaderCellDef>{{translations.Currently}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.hospitalizedCurrently | nullablenumber}} </td>
                 </ng-container> 
                 

                 <ng-container matColumnDef="recovered">
                    <th mat-header-cell *matHeaderCellDef > {{translations.Recovered}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.recovered | nullablenumber}} </td>
                 </ng-container>
                <ng-container matColumnDef="death">
                    <th mat-header-cell *matHeaderCellDef>{{translations.Death}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.death | nullablenumber}} </td>
                 </ng-container>                  

                 <ng-container matColumnDef="states">
                    <th mat-header-cell *matHeaderCellDef>{{translations.PositiveNegative}}</th>
                    <td mat-cell *matCellDef="let element"> {{ (element.positive + element.negative)  | nullablenumber }} </td>
                 </ng-container> 

                 <!-- [style.padding-top]="17px" -->
                 
                 <ng-container matColumnDef="header-row-first-group">
                    <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.rowspan]="2">
                        {{translations.Cases}}
                    </th>
                 </ng-container>  
                 <ng-container matColumnDef="header-row-sec-group">
                    <th mat-header-cell *matHeaderCellDef  class="header-row-1" [attr.colspan]="2">
                        {{translations.Tests}}
                    </th>
                 </ng-container> 
                 <ng-container matColumnDef="header-row-3-group">
                    <th mat-header-cell *matHeaderCellDef class="header-row-1">
                        {{translations.Hospitalized}}
                    </th>
                 </ng-container>  
                 <ng-container matColumnDef="header-row-4-group">
                    <th mat-header-cell *matHeaderCellDef class="header-row-1" [attr.colspan]="2">
                        {{translations.Outcomes}}
                    </th>                          
                </ng-container>
                 <ng-container matColumnDef="header-row-5-group">
                    <th mat-header-cell *matHeaderCellDef class="header-row-1">
                        {{translations.TotalTestResults}}
                    </th>                          
                </ng-container>

                 <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-sec-group', 'header-row-3-group', 'header-row-4-group', 'header-row-5-group']"> </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      
            </table>
            </div>
    </div>
</div>
