     <div class="container">
       
        <h2>  {{translations.DateByText}}</h2>
        <div *ngIf="statesLstFiltered && statesLstFiltered.length > 0" class="cards-container">
            <!-- <div class="filter-block">
                <ng-container   *ngFor="let item of statesLstFiltered; let i=index;">
                    <a [routerLink]="['./']" fragment="{{item.state}}" data-index="{{i}}" title="{{item.name}}" (click)="onclickAnchor(item.state, i)" >{{item.state}}</a>&nbsp;
                    <span *ngIf="i == statesLstFiltered.length/2-1" ><br /></span>
                </ng-container>
            </div> -->
            <ng-container   *ngFor="let item of statesLstFiltered; let i=index;">
                <mat-card #cardItem id="{{item.state}}" class=" item-container active" [class.active]="expandedElement === item" #containerItem  (click)="expandedElement = expandedElement === item ? null : item;onExpanded(item, i)">
                    <mat-card-header>
                        <mat-card-title>{{item.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content >
                        <div class="content-row"> <span class="name">{{translations.TotalCases}}:</span> <span class="value">{{item.total  | nullablenumber}}</span></div>
                        <div class="content-row"><span class="name">{{translations.NewCases}}:</span>:  <span class="value">{{item.positiveIncrease | nullablenumber}}</span></div>
                        <div class="content-row"><span class="name">{{translations.Nowhospitalized}}:</span>:  <span class="value">{{item.hospitalizedCurrently | nullablenumber}}</span></div>
                       <div *ngIf="expandedElement === item" class="item-arrow-top"></div>
                       <div *ngIf="expandedElement === item" class="item-arrow-bottom"></div>
                    </mat-card-content>
                </mat-card>
                <div style="display:none"  class="item-container-details" *ngIf="(i+1) % cardsInRow == 0" id="card-details-{{(i+1) / cardsInRow}}">
                <mat-card>
                    <app-state-details [stateInfo]="expandedElement"></app-state-details>
                </mat-card>
                </div>
             </ng-container>
        </div>
    </div>
    

